.header {
	background: #f4f4f4;
}

.button {
	background-color: #f76c6c !important;
	margin: 0 5px;
}

.link {
	color: #f4f4f4 !important;
}

.link:hover {
	color: #751313 !important;
}

.expanded {
	box-shadow: none !important;
}

@media (max-width: 991px) {
	.expanded + div button {
		background-color: #f4f4f4 !important;
	}

	.expanded + div button a {
		color: #f76c6c !important;
	}

	.expanded + div button a:hover {
		color: #751313 !important;
	}
}
