.margintop {
	margin-top: 87px;
}

@media (min-width: 992px) {
	.margintop {
		margin-top: 100px;
	}
}

.image {
	border-radius: 50%;
	margin: 0 auto;
}

.links {
	color: #751313 !important;
}
.links > div {
	vertical-align: middle;
}
.marginImg:first-child {
	background-color: antiquewhite;
}

.icons {
	filter: drop-shadow(16px 16px 10px black);
}
